/* 
*,
* *,
* * *,
* * * *,
* * * * *,
* * * * * *,
* * * * * * *,
* * * * * * * * {
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff77;
} 
*/

* { background-color: #005c5c00; }
* * { background-color: #225c5c22; }
* * * { background-color: #445c5c44; }
* * * * { background-color: #665c5c66; }
* * * * * { background-color: #885c5c88; }
* * * * * * { background-color: #aa5c5caa; }
* * * * * * * { background-color: #cc5c5ccc; }
* * * * * * * * { background-color: #dd5c5cdd; }
