/* #region global css */

body {
  font-family: Arial,Helvetica,sans-serif;
  font-size: .8rem;
}

a {
  color: black;
}

a:hover {
  color: black;
  text-decoration-color: #f72210;
}

.container {
max-width: 96%;
}

.full-width {
  max-width: 100%;
}

.bg-brand {
  background-color: #f72210;
}

.bg-gray {
  background-color: #e8e9eb;
}

.fc-brand {
  color: #f72210;
}

.link-plain:hover {
  text-decoration: none;
}

.no-pad {
  padding-left: 0;
  padding-right: 0;
}

.do-pad {
  padding-left: 15px;
  padding-right: 15px;
}

.do-margin {
  margin-left: 10px;
  margin-right: 10px;
}

.pic-class {
  font-weight: 600;
  font-size: 1rem;
  padding: 5px 10px;
}

.title-pic,
.normal-pic,
.mini-pic,
.side-pic,
.author-pic,
.subscribe-pic {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 5px;
}

.author-pic,
.subscribe-pic {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.ff-robo,
h5,
h4 {
  font-family: 'Roboto Condensed', sans-serif;
}

h5 {
  color: gray;
  font-size: 1rem;
  font-weight: 600;
}

h4 {
  font-weight: 600;
}

.pic-card {
  margin-bottom: 10px;
}

.bot-line {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: rgb(214, 214, 214);
  padding-bottom: 10px;
}

.cat-title {
  /* display: inline-block; */
  font-size: 1.3rem;
  text-align: center;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: rgb(214, 214, 214);
  padding-bottom: 8px;
}

.icon {
  position: relative;
  bottom: -8px;
  display: inline-block;
  height: 30px;
  width: 30px;
  background-image: url('../img/icon.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #f72210;
}

/* #endregion */

.logo-pic {
  height: 20px;
  width: 131px;
  background-size: contain;
  background-repeat: no-repeat;
}

.header {
  font-size: .9rem;
  padding-left: 10px;
  margin-bottom: 20px;
}

.title-pic {
  min-height: 250px;
}

.side-pic {
  width: 135px;
  height: 90px;
}

.bg-travel {
  background-color: #f4f5f7;
  padding-top: 5px;
}

.mn-travel-tag {
  background-color: #b6c7ca;
  padding: 3px;
}

.mn-travel-tag:hover {
  background-color: #252525;
  color: #b6c7ca;
  text-decoration: none;
}

.author-pic {
  height: 60px;
  width: 60px;
}

.first-magazine {
  height: 500px;
  background-size: contain;
}

.last-magazine {
  height: 500px;
  background-size: cover;
}

.mini-pic {
  min-height: 200px;
}

@media (min-width: 576px) {
  .container {
    max-width: 100%;
  }

  .side-pad {
    padding-left: 15px;
    padding-right: 15px;
  }

  .side-pad-right {
    padding-right: 15px;
  }
}

@media (min-width: 768px) {
  .no-pad2 {
    padding-right: 0;
    padding-left: 0;
  }


  .container {
    max-width: 100%;
  }

  .logo-pic {
    height: 100px;
    background-size: 70%;

  }

  .title-pic {
    height: 200px;
  }

  .normal-pic {
    height: 200px;
  }

  .mini-pic {
    height: 100px;
    margin-bottom: 8px;
  }

  .subscribe-pic,
  .newsletter-pic {
    height: 400px;
  }

  .big-title {
    height: 400px;
  }

  .logo-red {
    background-size: contain;
    background-repeat: no-repeat;
    width: 236px;
    height: 35px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 1100px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1310px;
  }
}
