/* #region global css */

body {
  font-family: Arial,Helvetica,sans-serif;
  font-size: .8rem;
}

a {
  color: black;
}

a:hover {
  color: black;
  text-decoration-color: #f72210;
}

.container {
max-width: 96%;
}

.full-width {
  max-width: 100%;
}

.link-plain {
  text-decoration: none;
}

.bg-brand {
  background-color: #f72210;
}

.fc-brand {
  color: #f72210;
}

.no-pad {
  padding-left: 0;
  padding-right: 0;
}

.do-pad {
  padding-left: 15px;
  padding-right: 15px;
}

.do-margin {
  margin-left: 10px;
  margin-right: 10px;
}

.ff-robo,
h5 {
  font-family: 'Roboto Condensed', sans-serif;
}

h5 {
  color: gray;
  font-size: 1rem;
  font-weight: 600;
}

/* #endregion */

.logo-pic {
  height: 20px;
  width: 131px;
  background-size: contain;
  background-repeat: no-repeat;
}

.header {
  font-size: .9rem;
  padding-left: 10px;
}

@media (min-width: 576px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 768px) {

  .container {
    max-width: 100%;
  }

  .logo-pic {
    height: 100px;
    background-size: 70%;

  }

  .title-pic,
  .normal-pic,
  .mini-pic,
  .side-pic,
  .author-pic,
  .subscribe-pic {
    background-position: center;
    background-size: cover;
  }

  .author-pic,
  .subscribe-pic {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .title-pic {
    height: 200px;
  }

  .normal-pic {
    height: 200px;
  }

  .mini-pic {
    height: 100px;
    margin-bottom: 8px;
  }

  .side-pic {
    height: 80px;
  }

  .author-pic {
    height: 60px;
    width: 60px;
  }

  .subscribe-pic,
  .newsletter-pic {
    height: 400px;
  }

  .big-title {
    height: 400px;
  }

  .logo-red {
    background-size: contain;
    background-repeat: no-repeat;
    width: 236px;
    height: 35px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 1100px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1310px;
  }
}
